<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>i want a server!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="static/iwant.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <img src="static/happy_server.png" class="center-block" />
      <h1 class="text-center">Build your project with free servers from Rackspace!</h1>

      <form class="form-signin" role="form">
        <div class="form-group">
          <input type="text" class="form-control" name="event" placeholder="event" required>
        </div>

        <div class="form-group">
          <button formmethod="post" class="btn btn-lg btn-primary btn-block" type="submit">show me the servers!</button>
        </div>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
